#bx-panel .vr-params-edit-button
{
    background: scroll transparent url(../img/params.png) no-repeat center center !important;
}

#bx-panel .bx-panel-button-hover .vr-params-edit-button,
#bx-panel .bx-panel-button-active .vr-params-edit-button
{
    background: scroll transparent url(../img/params-active.png) no-repeat center center !important;
}

.vr-params-title h2 {padding: 0;}
.vr-params-desc {padding: 0;}
.vr-params-icon {float: right;}

.vr-param-table {width: 100%;}
.vr-param-table .vr-param-desc-col {width: 40% !important; padding: 8px 5px 0 0 !important;}
.vr-param-table .vr-param-val-col {width: 60% !important; padding: 3px 2px;}
